<md-sidenav-container class="container">  
  <md-toolbar class="mat-elevation-z4 toolbar" color="primary">
    <span class="toolbar-left">
      Counter Example
    </span>
    <span class="toolbar-right">
      <button md-button (click)="onToggleMenu()"><md-icon>settings</md-icon></button>            
    </span>

  </md-toolbar>
  <md-sidenav #sideNav class="sidenav" mode="side" align="end">
      <textarea class="editor" [ngClass]="{'editor--error': !jsonIsValid }" (keyup)="onEditorChange($event)">{{componentsMetaJson}}</textarea>
  </md-sidenav>  
  <ngx-dynamic-renderer class="renderer" [components]="componentsMeta" [componentMap]="componentMap" [serviceMap]="serviceMap"></ngx-dynamic-renderer>
</md-sidenav-container>