:host {
  -webkit-font-smoothing: subpixel-antialiased;
  transform: translateZ(0) scale(1.0, 1.0);
}

.container {
  height: 100vh;
}

.toolbar-left {
  flex: 1 1 auto;
}

.sidenav {
  width: 400px;
  background-color: darkgray;
  height: 100%;
}

.renderer {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.editor {
  font-family: monospace;
  font-size: 14px;  
  width: 100%;
  height: 100%;
  padding: 20px;
  border: 0;
  background-color: #EEE;
}

.editor--error {
  background-color: #FFCCCC;
}